<h1><%= link_to "⇚", posts_path %> 　筋肉の夢に戻る</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %>が発生しました:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container pt-5">
  <div class="row">
    <div class="col- mb-3">
      <h2 class="mb-4 text-center">新たな努力の結晶筋</h2>
    </div>
  </div>
  <div class="row-sm-7">
    <%= form_with model: @post, local: true do |form| %>
      <div class="form-group row">
        <%= form.text_area :post_text, class: "form-control form-control-lg" %> <!--bodyの入力フォーム生成-->
      </div>
      <div class="form-group row">
        <%= form.label :image %>
        <%= form.file_field :image, accept: "image/*", class: "form-control" %>
      </div>
      <div class="form-group row text-center">
        <div class="col-sm-7 offset-sm-2">
          <%= form.submit %> <!--送信ボタンを生成-->
        </div>
      </div>
    <% end %>
  </div>
</div>