<div class="card-list-container py-5">
    <% users.each do |user| %>
      <div class="card mx-auto mt-4 shadow-lg" style="width: 70%;">
        <div class="card-body">
          <div class="card-title">
            <div class="row">
              <div class="col-10">
                <!--ユーザー画像、ユーザー名表示機能-->
                <%= link_to users_my_page_path(user.id) do %>
                  <%= image_tag user.get_user_image(100,100), class: "mt-3 rounded-circle img-thumbnail"; %>
                  <strong><%= user.user_name %></strong>
                <% end %>
              </div>
              <!--フォロ―機能-->
              <div class="text-right pt-4">
                <% if current_user.following?(user) %>
                  <%= link_to "フォロー中", user_followings_path(user.id), method: :delete, class: 'btn btn-secondary btn-sm' %>
                <% elsif current_user == user %>

                <% else %>
                  <%= link_to "フォロー", user_followings_path(user.id), method: :post, class: 'btn btn-success btn-sm' %>
                <% end %>
              </div>
            </div>
            <!--ユーザープロフィール表示-->
            <div class="row pt-4">
              <div class="card-text pl-3">
                <%= user.profile %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<div  style="display: flex; justify-content: center; align-items: center;">
  <%= paginate users %>
</div>