<h1 style="padding-top: 70px;"><%= link_to '⇚', 'javascript:history.back()' %></h1>

<div class="card-list-container py-5">
  <div class="card mx-auto w-80 mt-4 shadow-lg" style="width: 100%;">
    <div class="card-body">
      <div class="card-title">
        <div class="row">
          <div class="col-9">
            <%= image_tag @user.get_user_image(200,200), class: "mt-3 rounded-circle img-thumbnail"; %>
            <br><br><strong class="pl-2"><%= @user.user_name %></strong>
          </div>
          <div class="col-3 text-right pt-4">
            <br>
            <% if current_user.user_name == "guestuser" %>
            <% elsif current_user == @user %>
              <%= link_to edit_users_information_path, class: "btn btn-outline-secondary btn-block" do %><i class="fa-solid fa-user-pen"></i><% end %>
            <% else %>
              <% if current_user.following?(@user) %>
                <%= link_to "フォロー中", user_followings_path(@user.id), method: :delete, class: 'btn btn-secondary' %>
              <% else %>
                <%= link_to "フォローする", user_followings_path(@user.id), method: :post, class: 'btn btn-success' %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row pt-4">
          <div class="card-text pl-3">
            <h4><%= @user.profile %></h4>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-3">
            フォロー
            <%= link_to user_follow_index_path(@user.id) do %>
              <%= @user.relationships.count %>
            <% end %>
            フォロワー
            <%= link_to user_followers_path(@user.id) do %>
              <%= @user.followers.count %>
            <% end %>
            <%= link_to user_likes_index_path(@user.id), class: "btn btn-outline-info btn-block mt-3" do %>
              <i class="fa-solid fa-hand-holding-heart"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<h2 class="text-center mt-5 text-light">POST一覧</h2>

<%= render 'public/posts/post_index_list', posts: @posts %>