<h2><%= link_to "⇚", posts_path %>  筋肉の夢に戻る</h2>

<div class="card-list-container py-5">
  <div class="card w-51 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="card-title">
        <div class="row">
          <div class="col-10">
            <%= image_tag @user.get_user_image(200,200), class: "mt-3 rounded-circle img-thumbnail"; %><br><strong><%= @user.user_name %></strong>
          </div>
          <div class="col-2 text-right pt-4">
            <% if current_user.user_name != "guestuser" %>
              <%= link_to edit_users_information_path, class: "btn btn-outline-secondary btn-block" do %><i class="fa-solid fa-user-pen"></i><% end %>
            <% else %>
            <% end %>
          </div>
        </div>
        <div class="row py-5">
          <div class="card-text pl-3">
            <h4><%= @user.profile %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






