<!DOCTYPE html>
<html>
  <head>
    <title>RAIBO</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light py-5 bg-secondary bg-img">
        <div class="container-fluid">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to '新規投稿', new_post_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <nav class="navbar navbar-expand-lg navbar-light py-5 bg-secondary bg-img">
        <div class="container-fluid">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to '新規投稿', new_post_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>
    </footer>
  </body>
</html>
